/* Error: There is no module with the namespace "color".
 *     ,
 * 116 |     background: color.adjust(map-get($colors, success), $lightness: -10%);
 *     |                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   assets/styles/components/_buttons.scss 116:17  @import
 *   assets/styles/main.scss 346:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a     \2577 \a 116 \2502      background: color.adjust(map-get($colors, success), $lightness: -10%);\a     \2502                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   assets/styles/components/_buttons.scss 116:17  @import\a   assets/styles/main.scss 346:9                  root stylesheet';
}
