/* Error: Value null can't be used in a calculation.
 *    ,
 * 58 |     width: calc(25% - map-get($spacing, 4.5));
 *    |                       ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets/styles/layout/_grid.scss 58:23  @import
 *   assets/styles/main.scss 355:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Value null can't be used in a calculation.\a    \2577 \a 58 \2502      width: calc(25% - map-get($spacing, 4.5));\a    \2502                        ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets/styles/layout/_grid.scss 58:23  @import\a   assets/styles/main.scss 355:9          root stylesheet";
}
